<div class="site-wrapper">

	<div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">The Quote Machine</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
      	<div class="quote-group" [@fadeAnimation]="fade" >
      		<blockquote>
	        	<h2 class="cover-heading" >{{quote}}</h2>
	        </blockquote>
        </div>
        <h3 class="lead">{{author}}</h3>
        <p class="lead">
          <button (click)="getQuote()" class="btn btn-lg btn-secondary">Show quote</button>
        </p>
      </main>

    </div>

  </div>

</div>
