<div class="site-wrapper">

	<div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">The Quote Machine</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h2 class="cover-heading">{{quote}}</h2>
        <h3 class="lead">{{author}}</h3>
        <p class="lead">
          <button (click)="getQuote()" class="btn btn-lg btn-secondary">Show quote</button>
        </p>
      </main>

      <footer class="mastfoot">
        <div class="inner">
          <p><a href="https://damianofossa.com/">Damiano Fossa</a></p>
        </div>
      </footer>

    </div>

  </div>

</div>
